@if (title(); as titleItem) {
  <app-card-title [cardTitleData]="titleItem" [isBigTitle]="true" />
}

@if (researchImageWithDescription(); as imageWithDescription) {
  <div class="image-with-description">
    <img class="image" [src]="imageWithDescription.imageUrl" alt="Research Image" />
    <p class="description">{{ imageWithDescription.description }}</p>
  </div>
}

@if (qualitativeInsights(); as qualitativeInsightsItem) {
  <div class="qualitative-insights">
    @for (insightItem of qualitativeInsightsItem; track $index) {
      <div class="insight-container">
        <button mat-flat-button class="ax-button">{{ insightItem.headerChipTitle }}</button>
        <p class="insight-title">{{ insightItem.headerTitle }}</p>
        <div class="insight-description">
          @for (description of insightItem.descriptions; track $index) {
            <span class="description">{{ description }}</span>
          }
        </div>
        <div class="takeaway-container">
          @for (takeawayItem of insightItem.takeaways; track $index) {
            <p class="takeaway-title">{{ takeawayItem.keyTakeawayTitle }}</p>
            <div class="description-list">
              @for (description of takeawayItem.keyTakeaway; track $index) {
                <li class="description-list-item">{{ description }}</li>
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
}

@if (conclusion(); as conclusionItem) {
  <div class="conclusion-container">
    <span class="conclusion">{{ conclusionItem }}</span>
  </div>
}

@if (conclusionImageWithDescription(); as imageWithDescription) {
  <div class="image-with-description">
    <img class="image" [src]="imageWithDescription.imageUrl" alt="Conclusion Image" />
    <p class="description">{{ imageWithDescription.description }}</p>
  </div>
}
