@if (title(); as titleItem) {
  <app-card-title [cardTitleData]="titleItem" [isBigTitle]="true" />
}

@if (researchImageWithDescription(); as imageWithDescription) {
  <div>
    <img [src]="imageWithDescription.imageUrl" alt="Research Image" />
    <p>{{ imageWithDescription.description }}</p>
  </div>
}

@if (qualitativeInsights(); as qualitativeInsightsItem) {
  <div>
    @for (insightItem of qualitativeInsightsItem; track $index) {
      <button>{{ insightItem.headerChipTitle }}</button>
      <p>{{ insightItem.headerTitle }}</p>
      <div>
        @for (description of insightItem.descriptions; track $index) {
          <span>{{ description }}</span>
        }
      </div>
      <div>
        @for (takeawayItem of insightItem.takeaways; track $index) {
          <p>{{ takeawayItem.keyTakeawayTitle }}</p>
          <div>
            @for (description of takeawayItem.keyTakeaway; track $index) {
              <li>{{ description }}</li>
            }
          </div>
        }
      </div>
    }
  </div>
}

@if (conclusion(); as conclusionItem) {
  <div>
    <span>{{ conclusionItem }}</span>
  </div>
}

@if (conclusionImageWithDescription(); as imageWithDescription) {
  <div>
    <img [src]="imageWithDescription.imageUrl" alt="Conclusion Image" />
    <p>{{ imageWithDescription.description }}</p>
  </div>
}
