{
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "printWidth": 140,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 100
      }
    },
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
