@if (!isSidebarEmpty()) {
  <div class="side-bar-container" [class.hidden]="isFooterActive()">
    @if (isNameVisible()) {
      <div class="side-bar-title-container">
        <span class="side-bar-title">{{ alexDetails.name }}</span>
        <span class="side-bar-title">{{ alexDetails.surname }}</span>
      </div>
    }
    <div class="navigation-container">
      @for (item of sideBarItems(); track $index) {
        <div
          class="navigation-item"
          [class.active]="activeLink() === item.link"
          (click)="onNavClick($event, item.link)">
          {{ item.label }}
        </div>
      }
    </div>
  </div>
}
