<h1 class="section-title">Contact</h1>

<span class="contact-description">
  Have a project in mind or just want to chat (I’m always glad to chat)? Let's see how I can help
  you here. Friendliness is my second name, so don’t hesitate to write me.
</span>
<div class="contact-email-container">
  <div class="email-description">
    <span>My email</span>
    <span class="email">{{ links.email }}</span>
  </div>
  <button mat-flat-button class="ax-button" color="primary" (click)="onEmailClick()">
    <mat-icon>mail</mat-icon>
    Say hi
  </button>
</div>
<div class="contact-linkedin-container">
  <div class="linkedin-link" (click)="onLinkedInClick()">
    <span class="linkedin">LinkedIn</span>
    <mat-icon class="icon">arrow_outward</mat-icon>
  </div>
</div>
