@if (cardTitleData(); as titleData) {
  <span class="card-title" [class.big]="isBigTitle()">
    @if (cardIndex(); as index) {
      <span class="index">{{ index }}</span>
    }
    {{ titleData.text }}
  </span>
  <div class="card-description">
    @for (description of titleData.descriptions; track $index) {
      @if (description?.isList) {
        <li class="description-list">{{ description.text }}</li>
      } @else {
        <span class="description">{{ description.text }}</span>
      }
    }
  </div>
}
