@if (title(); as titleItem) {
  <app-card-title [cardTitleData]="titleItem" [isBigTitle]="true" />
}

@let tableItems = problemTableData();
@let description = tableDescription();
@if (tableItems?.length || description) {
  <div class="table-container">
    @if (tableItems?.length) {
      <div class="problem-table">
        @for (problemItem of tableItems; track $index) {
          <div class="table-item">
            <span class="title">{{ problemItem.label }}</span>
            <span class="description">{{ problemItem.value }}</span>
          </div>
        }
      </div>
    }
    @if (description) {
      <p class="table-description">{{ description }}</p>
    }
  </div>
}

@if (footerImageUrl(); as imageUrl) {
  <img [src]="imageUrl" class="problem-image" alt="Problem Image" />
}
