@if (title(); as titleItem) {
  <h1>{{ titleItem }}</h1>
}

<div class="conclusion-table-container">
  @if (conclusionTableData(); as tableData) {
    @for (conclusionItem of tableData; track $index) {
      <div class="table-row">
        <span>{{ conclusionItem.title }}</span>
        <div class="table-description-container">
          @for (description of conclusionItem.descriptions; track $index) {
            <span class="table-value">{{ description }}</span>
          }
        </div>
      </div>
    }
  }
</div>

<ng-content />
