:host {
  display: flex;
  flex-direction: column;
  gap: var(--alex-size-40);
  margin-bottom: 100px;
}

.playground-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--alex-size-12);
  align-items: start;

  .playground-item {
    &:first-child {
      grid-column: 1 / -1;
      margin-bottom: var(--alex-size-28);
    }
  }
}
