:host {
  display: flex;
  flex-direction: column;
  gap: var(--alex-size-40);
  margin-bottom: var(--alex-size-100);
}

.playground-container {
  display: flex;
  flex-direction: column;
  gap: var(--alex-size-80);
}
