@use 'breakpoints' as *;

@mixin bigger-than($media) {
  @if $media == XS {
    @media only screen and (min-width: $break-xs + 1px) {
      @content;
    }
  } @else if $media == SM {
    @media only screen and (min-width: $break-sm + 1px) {
      @content;
    }
  } @else if $media == MD {
    @media only screen and (min-width: $break-md + 1px) {
      @content;
    }
  } @else if $media == LG {
    @media only screen and (min-width: $break-lg + 1px) {
      @content;
    }
  } @else if $media == XL {
    @media only screen and (min-width: $break-xl + 1px) {
      @content;
    }
  } @else if $media == XXL {
    @media only screen and (min-width: $break-xxl + 1px) {
      @content;
    }
  }
}

@mixin smaller-than($media) {
  @if $media == XS {
    @media only screen and (max-width: $break-xs) {
      @content;
    }
  } @else if $media == XS_PLUS {
    @media only screen and (max-width: $break-xs-plus) {
      @content;
    }
  } @else if $media == SM {
    @media only screen and (max-width: $break-sm) {
      @content;
    }
  } @else if $media == MD {
    @media only screen and (max-width: $break-md) {
      @content;
    }
  } @else if $media == LG {
    @media only screen and (max-width: $break-lg) {
      @content;
    }
  } @else if $media == XL {
    @media only screen and (max-width: $break-xl) {
      @content;
    }
  } @else if $media == XXL {
    @media only screen and (max-width: $break-xxl) {
      @content;
    }
  }
}

@mixin wideImage {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 8;
  object-fit: cover;
  border-radius: var(--alex-size-10);

  @include smaller-than(MD) {
    aspect-ratio: 1 / 1;
  }
}

@mixin imageWithDescription {
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--alex-size-10);
  }

  .description {
    @include imageDescriptionText;
  }
}

@mixin imagesWithBackground {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: var(--alex-size-10);
  padding: var(--alex-size-20);
  border-radius: var(--alex-size-10);
  height: 400px;

  .image {
    height: 100%;
    width: auto;
    min-width: 0;
    object-fit: contain;
    border-radius: var(--alex-size-10);

    @include smaller-than(MD) {
      height: auto;
      width: 100%;
    }
  }

  @include smaller-than(MD) {
    height: auto;
    flex-wrap: wrap;
  }
}

@mixin imageDescriptionText {
  color: var(--alex-gray-text);
  text-align: center;
  font-weight: 500;
  font-style: italic;
}

@mixin tableStandard {
  width: 100%;
  display: flex;
  flex-direction: column;

  .table-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--alex-size-12);
    padding: var(--alex-size-40) 0;
    border-top: 1px solid var(--alex-stroke-color);
    font-size: 18px;

    @include smaller-than(SM) {
      grid-template-columns: 1fr;
    }

    &:last-child {
      border-bottom: 1px solid var(--alex-stroke-color);
    }

    .table-key {
      font-weight: 700;
    }
  }
}
