p,
span {
  margin: 0;
  color: var(--alex-standard-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--alex-standard-text);
}

:root {
  --mat-sidenav-content-background-color: var(--alex-primary-background);
}

.ax-button {
  --mat-button-filled-container-shape: var(--alex-size-10);
  --mat-button-filled-label-text-size: 18px;
  --mat-button-filled-label-text-weight: 700;
  --mat-button-filled-container-color: var(--alex-primary-background);
  --mat-button-filled-icon-spacing: var(--alex-size-10);
  --mat-button-filled-container-height: var(--alex-size-56);
  --mat-button-filled-touch-target-size: var(--alex-size-56);
  --mat-button-filled-icon-offset: 0;
  box-shadow: inset 0 0 0 1px var(--alex-standard-text);

  mat-icon {
    color: var(--alex-standard-text);
  }

  &.mat-mdc-unelevated-button {
    padding: 17.5px var(--alex-size-24);

    &[color='primary'] {
      mat-icon {
        font-size: var(--alex-size-24);
        height: var(--alex-size-24);
        width: var(--alex-size-24);
      }
    }
  }

  &:hover {
    --mat-button-filled-container-shape: var(--alex-size-4);
  }

  &[color='secondary'] {
    box-shadow: inset 0 0 0 1px var(--alex-stroke-color);
  }

  &[color='primary'] {
    --mat-button-filled-container-color: var(--alex-primary-color);
    box-shadow: inset 0 0 0 1px var(--alex-primary-color);
  }
}
