:root {
  /* Colors */
  --alex-primary-color: #0051ff;
  --alex-primary-background: #0d0d0d;
  --alex-secondary-background: #ffffff0d;
  --alex-stroke-color: #ffffff26;
  --alex-standard-text: #ffffff;
  --alex-color-disabled: #ffffff66;

  /* Spacing */
  --alex-size-0: 0;
  --alex-size-4: 4px;
  --alex-size-8: 8px;
  --alex-size-10: 10px;
  --alex-size-12: 12px;
  --alex-size-16: 16px;
  --alex-size-20: 20px;
  --alex-size-24: 24px;
  --alex-size-28: 28px;
  --alex-size-32: 32px;
  --alex-size-40: 40px;
  --alex-size-48: 48px;
  --alex-size-56: 56px;
  --alex-size-80: 80px;
  --alex-size-100: 100px;
  --alex-size-144: 144px;
}
