/* Sizes */
$size-0: 0;
$size-4: 4px;
$size-8: 8px;
$size-12: 12px;
$size-16: 16px;
$size-20: 20px;
$size-24: 24px;
$size-32: 32px;
$size-40: 40px;
$size-48: 48px;
$size-56: 56px;
$size-80: 80px;
$size-144: 144px;

/* breakpoints */
$break-xs: 360px;
$break-xs-plus: 576px;
$break-sm: 640px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1440px;
$break-xxl: 1920px;
