<button mat-flat-button class="ax-button back-button" color="secondary" (click)="onBackClick()">
  <mat-icon>arrow_back</mat-icon>
  Back to homepage
</button>
<div class="work-sections-container">
  @for (section of sections(); track section.type) {
    @switch (section.type) {
      @case (workSectionType.INTRO) {
        <app-work-intro [id]="section.type" [introData]="section" />
      }
      @case (workSectionType.PROBLEM) {
        <app-work-problem [id]="section.type" [problemData]="section" />
      }
      @case (workSectionType.RESEARCH) {
        <app-work-research [id]="section.type" [researchData]="section" />
      }
      @case (workSectionType.DESIGN) {
        <app-work-design [id]="section.type" [designData]="section" />
      }
      @case (workSectionType.CONCLUSION) {
        <app-work-conclusion [id]="section.type" [conclusionData]="section" />
      }
    }
  }
</div>
