<h1 class="section-title">Testimonials</h1>
<div class="testimonials-container">
  @for (item of testimonialItems; track $index) {
    <div class="testimonial">
      <span class="quote">{{ item.quote }}</span>
      <div class="description">
        <img class="description-img" [src]="item.pictureUrl" />
        <div class="author-container">
          <span class="author">{{ item.author }}</span>
          <span class="position">{{ item.position }}</span>
        </div>
      </div>
    </div>
  }
</div>
