@use 'mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--alex-size-40);
  margin-bottom: var(--alex-size-100);
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--alex-size-100) var(--alex-size-40);

  &.geostrategists {
    grid-template-columns: repeat(2, 1fr);

    @include smaller-than(SM) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @include smaller-than(LG) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include smaller-than(SM) {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    gap: var(--alex-size-40);
    font-size: 18px;

    .quotes-container {
      display: flex;
      flex-direction: column;
      gap: var(--alex-size-20);

      .quote {
        text-wrap: pretty;
      }
    }

    .description {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 18px;

      .description-img {
        inline-size: 54px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 5px;
      }

      .author-container {
        display: flex;
        flex-direction: column;
        gap: var(--alex-size-10);

        .author {
          font-weight: 700;
        }

        .link-container {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          gap: var(--alex-size-10);

          &.link {
            cursor: pointer;
          }

          .linkedin-icon {
            height: 18px;
            width: 18px;
          }

          .position {
            color: var(--alex-gray-text);
          }
        }
      }
    }
  }
}
