@use 'mixins' as *;

@mixin mobile-section {
  width: calc(100svw - var(--alex-size-40));
  margin: var(--alex-size-80) var(--alex-size-20) var(--alex-size-40) var(--alex-size-20);
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: var(--alex-size-40);
  height: 100%;
  width: calc(75svw - var(--alex-size-20));
  overflow: visible;
  margin-inline: auto;
  margin: var(--alex-size-80) var(--alex-size-40) var(--alex-size-40) var(--alex-size-40);

  @include smaller-than(SM) {
    @include mobile-section;
  }

  &.mobile {
    @include mobile-section;
  }
}

.side-bar {
  width: calc(15vw - var(--alex-size-20));

  @include smaller-than(SM) {
    width: calc(100% - var(--alex-size-32));
  }
}
