<div class="footer-message-container">
  <span class="footer-message">Thanks for visiting!</span>
</div>
<div class="footer-info-container">
  <div class="info">
    <div class="name-details">
      <span class="name">{{ alexDetails.name }}</span>
      <span class="surname">{{ alexDetails.surname }}</span>
      <span class="position">{{ alexDetails.position }}</span>
    </div>
    <div class="location-details">
      <span class="location">{{ alexDetails.location }}</span>
      <span class="occupation">{{ alexDetails.footerQuote }}</span>
    </div>
  </div>
  <div class="links-container">
    <div class="email" (click)="onEmailClick()">
      <mat-icon class="link-icon">arrow_outward</mat-icon>
      <span class="email-link">{{ links.email }}</span>
    </div>
    <div class="linked-in" (click)="onLinkedInClick()">
      <mat-icon class="link-icon">arrow_outward</mat-icon>
      <span>LinkedIn</span>
    </div>
    <div class="cv" (click)="onCvClick()">
      <mat-icon class="link-icon">arrow_outward</mat-icon>
      <span>My CV</span>
    </div>
  </div>
  <button mat-flat-button class="ax-button" color="secondary" (click)="onScrollToTop()">
    <mat-icon>arrow_upward</mat-icon>
    Back to top
  </button>
</div>
