<div>
  <span>Thanks for visiting!</span>
</div>
<hr />
<div>
  <div>
    <div>
      <span>Alex</span>
      <span>Rezanov</span>
      <span>UX / Product designer</span>
    </div>
    <div>
      <span>2026, Germany</span>
      <span>Designed and created by me with Figma, love and unexpected amount of coffee</span>
    </div>
  </div>
  <div>
    <span>oleksandr.rznv@gmail.com</span>
    <span>LinkedIn</span>
    <span>My CV</span>
  </div>
  <div>
    <button>
      <span>Back to top</span>
    </button>
  </div>
</div>
