@use 'mixins' as *;

:host {
  box-sizing: border-box;
  width: 100%;
  padding: 0 var(--alex-size-40);
  display: flex;
  flex-direction: column;
  gap: var(--alex-size-40);
  margin-bottom: 44px;

  @include smaller-than(SM) {
    padding: 0 var(--alex-size-20);
  }
}

.footer-message-container {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--alex-size-40);
  border-bottom: 1px solid var(--alex-stroke-color);

  .footer-message {
    font-weight: 700;
    font-size: 18px;
  }
}

.footer-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 190px;
  gap: 5%;
  padding: var(--alex-size-24);
  font-size: 18px;

  @include smaller-than(MD) {
    gap: var(--alex-size-40);
    grid-template-columns: repeat(2, 1fr);
  }

  @include smaller-than(SM) {
    grid-template-columns: repeat(1, 1fr);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: var(--alex-size-40);

    .name-details {
      display: flex;
      flex-direction: column;

      .name,
      .surname {
        font-weight: 700;
      }

      .position {
        margin-top: var(--alex-size-10);
        color: var(--alex-gray-text);
      }
    }

    .location-details {
      display: flex;
      flex-direction: column;
      gap: var(--alex-size-10);

      .location {
        font-weight: 700;
      }

      .occupation {
        color: var(--alex-gray-text);
      }
    }
  }

  .links-container {
    display: flex;
    flex-direction: column;
    gap: var(--alex-size-40);

    .email-link {
      user-select: all;
    }

    .email,
    .linked-in,
    .cv {
      width: fit-content;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: 700;

      .link-icon {
        margin-right: var(--alex-size-20);
      }
    }
  }

  .ax-button {
    grid-column: 1 / -1;
    width: 100%;

    @include bigger-than(MD) {
      grid-column: auto;
      width: fit-content;
    }
  }
}
