<h1>Hi, I'm Alex</h1>
<img
  class="welcome-img"
  ngSrc="assets/images/welcome.jpg"
  alt="Alex portrait"
  height="1280"
  width="960"
/>
<div class="welcome-message-container">
  <span class="message-underlined">UX / Product Designer </span>
  <span class="message-highlight"
    >with 2.5+ years of experience turning good ideas into great products.
  </span>
  <span class="message">
    I specialise in translating business objectives into conscious, user-centred designs with an
    aesthetically polished touch
  </span>
  <span>💅✨</span>
</div>
<div class="description-container">
  <span>Based in Germany & Made in Ukraine</span>
  <span class="description">Previously - UX Designer at PlentyONE</span>
</div>
<div class="action-buttons-container">
  <button mat-flat-button class="ax-button" color="primary">
    <mat-icon>mail</mat-icon>
    Say hi
  </button>
  <button mat-flat-button class="ax-button" color="secondary">
    <mat-icon>arrow_outward</mat-icon>
    LinkedIn
  </button>
  <button mat-flat-button class="ax-button" color="secondary">
    <mat-icon>arrow_outward</mat-icon>
    My CV
  </button>
</div>
