@use 'mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.work-card-img {
  @include wideImage;
}

.work-card-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--alex-size-10);

  .title {
    font-size: 18px;
    font-weight: 700;
    color: var(--alex-standard-text);
  }

  .description {
    font-size: 18px;
    color: var(--alex-gray-text);
  }
}

.work-card-actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--alex-size-10);
}
