@if (titleImageUrl(); as titleImageUrl) {
  <img [src]="titleImageUrl" alt="Title Image" class="title-image" />
}

@if (title(); as titleItem) {
  <app-card-title [cardTitleData]="titleItem" [isBigTitle]="true" />
}

@if (designDecisions(); as decisions) {
  @for (decision of decisions; track $index) {
    <div class="decision-container">
      <img [src]="decision.decisionImageUrl" alt="Design Decision Image" class="decision-image" />
      <app-card-title [cardTitleData]="decision.title" [cardIndex]="$index + 1" />
    </div>
  }
}

@if (designFlowItems(); as flowItems) {
  <div class="design-flow-container">
    @for (flowItem of flowItems; track $index) {
      <div class="design-image-with-description">
        <div class="image-container" [style.background-color]="flowItem.imageBackgroundColor">
          @for (imageUrl of flowItem.imageUrls; track $index) {
            <img [src]="imageUrl" alt="Design Flow Image" class="flow-image" />
          }
        </div>
        <p class="description">{{ flowItem.imageDescription }}</p>
      </div>
      <div class="flow-description-container">
        @for (description of flowItem.descriptions; track $index) {
          <span class="flow-description">{{ description }}</span>
        }
      </div>
    }
  </div>
}

@if (footerImage(); as footerImageItem) {
  <div class="image-with-description">
    <img [src]="footerImageItem.imageUrl" alt="Footer Image" class="image" />
    <p class="description">{{ footerImageItem.description }}</p>
  </div>
}
