@use 'mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--alex-size-100);
}

.decision-container {
  display: flex;
  flex-direction: column;
  gap: var(--alex-size-40);
}

.design-flow-container {
  display: flex;
  flex-direction: column;
  gap: var(--alex-size-40);

  .design-image-with-description {
    display: flex;
    flex-direction: column;
    gap: var(--alex-size-10);

    .description {
      @include imageDescriptionText;
    }
  }

  .flow-description-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include smaller-than(MD) {
      grid-template-columns: 1fr;
    }

    .flow-description {
      font-size: 18px;
    }
  }
}

.decision-images-container {
  @include imagesWithBackground;

  .description {
    @include imageDescriptionText;
  }
}

.footer-image-with-description {
  display: flex;
  flex-direction: column;
  gap: var(--alex-size-10);

  .description {
    @include imageDescriptionText;
  }
}
