@if (titleImageUrl(); as titleImageUrl) {
  <div class="decision-images-container" [style.background-color]="titleImageUrl.backGroundColor">
    @for (url of titleImageUrl.decisionImageUrls; track $index) {
      <img [src]="url" alt="Design Decision Image" class="image" />
    }
  </div>
}

@if (title(); as titleItem) {
  <app-card-title [cardTitleData]="titleItem" [isBigTitle]="true" />
}

@if (designDecisions(); as decisions) {
  @for (decision of decisions; track $index) {
    <div class="decision-container">
      <div class="decision-images-container" [style.background-color]="decision.backGroundColor">
        @for (url of decision.decisionImageUrls; track $index) {
          <img [src]="url" alt="Design Decision Image" class="image" />
        }
      </div>
      <app-card-title [cardTitleData]="decision.title" [cardIndex]="$index + 1" />
    </div>
  }
}
@let flowItems = designFlowItems();
@if (flowItems?.length) {
  <div class="design-flow-container">
    @for (flowItem of flowItems; track $index) {
      <div class="design-image-with-description">
        <div
          class="decision-images-container"
          [style.background-color]="flowItem.imageBackgroundColor">
          @for (imageUrl of flowItem.imageUrls; track $index) {
            <img [src]="imageUrl" alt="Design Flow Image" class="image" />
          }
        </div>
        <p class="description">{{ flowItem.imageDescription }}</p>
      </div>
      <div class="flow-description-container">
        @for (description of flowItem.descriptions; track $index) {
          <span class="flow-description">{{ description }}</span>
        }
      </div>
    }
  </div>
}

@if (footerImage(); as footerImageItem) {
  <div class="footer-image-with-description">
    <div
      class="decision-images-container"
      [style.background-color]="footerImageItem.backGroundColor">
      @for (imageUrl of footerImageItem.footerImageUrls; track $index) {
        <img [src]="imageUrl" alt="Footer Image" class="image" />
      }
    </div>
    <p class="description">{{ footerImageItem.description }}</p>
  </div>
}
