@use 'fonts';
@use 'override';
@use 'variables';
@use '@angular/material' as mat;
@use 'theme-colors' as theme;

html {
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
        theme-type: dark,
      ),
      typography: var(--alex-font-sans),
      density: 0,
    )
  );
}

html,
body {
  margin: var(--alex-size-0);
  height: 100%;
  background-color: var(--alex-primary-background);
  font-family: var(--alex-font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1 1 auto;
}
