@use 'fonts';
@use 'override';
@use 'variables';
@use 'mixins' as *;

html,
body {
  margin: var(--alex-size-0);
  height: 100%;
  background-color: var(--alex-primary-background);
  font-family: var(--alex-font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1 1 auto;
}

.content-container {
  height: calc(100svh - 120px);
  overflow: visible;
  margin-inline: auto;
  margin: var(--alex-size-80) var(--alex-size-0) var(--alex-size-40) var(--alex-size-40);

  @include bigger-than(MD) {
    width: 80%;
  }
}
