@use 'mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-container {
  width: calc(80svw - var(--alex-size-80));
  display: flex;
  flex-direction: column;
  gap: 100px;

  @include smaller-than(SM) {
    width: calc(100svw - var(--alex-size-80));
  }
}
