:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-areas: 'content sidebar';
  align-items: start;

  .section-container {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .home-side-bar {
    grid-area: sidebar;
    width: calc(20% - var(--alex-size-40));
  }
}
