<section [id]="navigationSection.WELCOME">
  <app-home-welcome />
</section>

<section [id]="navigationSection.SELECTED_WORK">
  <app-home-selected-work />
</section>

<section [id]="navigationSection.PLAYGROUND">
  <app-home-playground />
</section>

<section [id]="navigationSection.EXPERIENCE">
  <app-home-experience />
</section>

<section [id]="navigationSection.TESTIMONIALS">
  <app-home-testimonials />
</section>

<section [id]="navigationSection.EDUCATION">
  <app-home-education />
</section>

<section [id]="navigationSection.ABOUT">
  <app-home-about />
</section>

<section [id]="navigationSection.CONTACT">
  <app-home-contact />
</section>
