<div class="main-container">
  <section id="welcome">
    <app-home-welcome />
  </section>

  <section id="selected-work">
    <app-home-selected-work />
  </section>

  <section id="playground">
    <app-home-playground />
  </section>

  <section id="experience">
    <app-home-experience />
  </section>

  <section id="testimonials">
    <app-home-testimonials />
  </section>

  <section id="education">
    <app-home-education />
  </section>

  <section id="about">
    <app-home-about />
  </section>

  <section id="contact">
    <app-home-contact />
  </section>
</div>
<app-side-bar class="home-side-bar" />
<!--<app-footer />-->
