<h1 class="section-title">Experience</h1>
<div>
  @for (item of experienceItems; track $index) {
    <div class="experience-item-container">
      <div class="company-position">
        <span class="company">{{ item.company }}</span>
        <span class="position">{{ item.position }}</span>
      </div>
      <div class="time-line">
        <span class="duration">{{ item.duration }}</span>
        @if (item.workLoad; as workLoad) {
          <span class="work-load">{{ workLoad }}</span>
        }
      </div>
      <div class="description-container">
        @for (description of item.descriptions; track $index) {
          <span class="description">{{ description }}</span>
        }
      </div>
    </div>
  }
</div>
